/* styling to applu all over the page  */

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: #27272799;
    font-size: 20px;
}

header {
    background-color: #2c171c1a;
}

.header-banner {

    padding: 200px 240px 0;
    display: flex;
}

.header-document h2 {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.header-document p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 0;
}

.common-button {
    color: #FFF;
    font-size: 25px;
    font-weight: 700;
    background-color: #E55473;
    border-radius: 5px;
    padding: 20px 45px;
    border: 0;
}

/* main body stylinig starts here  */
.section {
    margin: 240px 120px;
}

.featured-flowers {
    text-align: center;
}

.cmn-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.featured-images {
    display: flex;
    gap: 10px;
    margin-top: 100px;
    justify-content: space-between;
}

.image-box {
    height: 400px;
    width: 350px;
    border-radius: 200px 200px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-1 {
    background-image: url("../images/pngwing\ 6.png");
    background-color: #A7216226;
}

.box-2 {
    background-image: url("../images/pngwing\ 5.png");
    background-color: #2ae89c26;
}

.box-3 {
    background-image: url("../images/pngwing\ 7.png");
    background-color: #e8b53426;
}

.images-container p {
    text-decoration: underline;
    padding: 8px;
    color: black;
    font-weight: 700;
}

/* this section is for the suppor ssection  */
.support-container {
    background-color: #2727270D;
    display: flex;
    justify-content: space-around;
    margin: 100px 0px;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
}

.support-child {
    font-size: 21px;
}

/* this section is for the offers ?  */
.offer-container {
    background-color: #f7f6f6;
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
}

.offer-container h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.offer-container p {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px;
}
.off{
    color: #E55473;
    font-size: 45px;
    font-style: italic;
    text-transform: uppercase;
}
/* this is for instagrram section  */
.instagram-container{
    justify-content: center;
    text-align: center;
}
.insta-image
{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    gap: 60px;
}

/* this section is for deal offer 
 */
.deal-container{
    background-image: url(../images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    padding: 180px 200px;
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.deal-form input[type="email"]
{
    width: 700px;
    height: 55px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
}
/* this is for the footer area  */
footer{
    background-color: #1e1e1e;
    text-align: center;
    padding: 100px;
}
.flower{
    color: #E55473;
    font-weight: 900;
    font-size: 45px;
}
.shop{
    
    color:#f7f6f6;
    font-weight: 900;
    font-size: 45px;
}
.footer-container p{
    color: #FFF;
}
.material-symbols-outlined{
    color: #f7f6f6;
    margin: 0;
    padding: 0;
}

